header{
    position: relative;
    width: 100%;
    height: 400px;
    background: url('https://img.freepik.com/foto-gratis/vista-superior-mesa-llena-comida_23-2149209253.jpg') no-repeat center;
    background-size: cover;
    display: flex;
}

h1.main{
    position: relative;
    font-size: 3rem ;
    margin: auto;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.capa_translucido{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

body{
    margin: 0;
    background-color: #9bfab0;
}

.contenedor{
    display: flex;
    margin-top: 20px;
}

.tarjeta{
    border-radius: 20px;
    margin-left: 15px;
    height: 200px;
    background-color: white;
    flex: 1;
    transition: .3s all ease;
    
}
.tarjeta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.tarjeta:hover{
    flex: 2;
    background-color: rgba(25, 31, 31, 0.344);
}